{% load static %}

<div class="tab-heading">
    <button class="tabclosebutton" onclick="closeTab()"><i class="fas fa-times tabcloseicon"></i></button>
    <h2 class="text-black tabtitle">Your Tab</h2>
    <p>The order will be served at table 7</p>
    <a href="{% url 'view_items' %}" class="btn btn-black rounded-pill tabbutton"><i
            class="fas fa-plus tabbuttonicon"></i>Add items</a>
</div>
<div class="tab-content">
    {% if tab_items %}
    <table class="table">
        <tbody>
            {% for item in tab_items %}
            <tr>
                <td>
                    <form class="update-form" method="POST" action="{% url 'adjust_tab' item.item_id %}">
                    {% csrf_token %}
                    <input class="form-control tab-input" type="number" name="quantity" value="{{ item.quantity }}"
                        min="1" max="99" data-item_id="{{ item.item.id }}" id="id_qty_{{ item.item.id }}">
                    </form>
                </td>
                <td>
                    <p class="tab-item text-black"><strong>{{ item.item.name }}</strong></p>
                    <p class="tab-price">{{ item.item_total }} EUR</p>
                </td>
                <td>
                    <img src="{{ item.item.image.url }}" class="tab-image">
                </td>
                <td>
                    <a class="update-item"><i class="fas fa-pen fa-sm"></i></a>
                    <a class="remove-item" id="remove_{{ item.item_id }}"><i class="fas fa-trash fa-sm"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No items on your tab.</p>
    {% endif %}
</div>
<div class="tab-footer">
    <a href="" class="btn btn-black rounded-0 place-order-button">
        <span class="text-uppercase">Place Order - {{ total }} EUR</span>
    </a>
</div>

{% block postloadjs %}
<script type="text/javascript">
// update quantity
$(".update-item").click(function(e) {
    var form = $(this).parent().siblings().find(".update-form");
    console.log(form);
    $(form).submit();
});

// remove item
$(".remove-item").click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var url = `/tab/remove/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken};
    console.log(data);

    $.post(url, data)
    .done(function(){
        location.reload();
    });
})
</script>
{% endblock %}