.profile-update-profile-wrapper {
    max-width: 350px;
    margin: 0 auto;
    padding-top:15px;
}    

.profile-update-orders-wrapper {
    margin: 0 auto;
    padding-top:15px;
}     

#profile-update-form::placeholder {
    color: #aab7c4;
}

#profile-update-form .form-control {
    color: black;
}

.order-history {
    max-width: 350px;
}

.order-history-element {
    border: 1px solid #aab7c4;
    padding: 15px;
}