{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row menu-item-detail">
        <div class="col-12 col-md-6">
            <img class="menu-item-image" src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>
        <div class="col-12 col-md-6">
            <h3 class="text-black menu-item-title">{{item.name}}</h3>
            <h5 class="text-black menu-item-price">{{item.price}} EUR</h5>
            <p>{{item.description}}</p>
            <form class="form" action="{% url 'add_to_tab' item.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="min-qty btn btn-black rounded-0" data-item_id="{{ item.id }}"
                                        id="min-qty_{{ item.id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                                <div class="input-group-append">
                                    <button class="plus-qty btn btn-black rounded-0" data-item_id="{{ item.id }}"
                                        id="plus-qty_{{ item.id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase add-to-tab-button"
                            value="Add to tab">
                        <a href="{% url 'view_items' %}" class="btn btn-outline-black rounded-0 add-to-tab-button">
                            <span class="text-uppercase">Back to menu</span>
                        </a>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'menu/js/qty_script.js' %}"></script>
{% endblock %}